<div class="container">
  <div class="jumbotron" style="background: white;">
    <%= image_tag "logo2.png" %>
    <p>
    The Premier pokemon hotness rating application. Where you get to choose
    which pokemon is TRULY the hottest. Is it Charmander? Pikachu? You get to
    decide!
    </p>
  </div>
</div>
